<IfModule mod_mime.c>
  AddType application/javascript .js .mjs
  AddType text/css .css
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(js|mjs)$">
    Header set X-Content-Type-Options "nosniff"
  </FilesMatch>
</IfModule>

<FilesMatch "\.(js|mjs)$">
  ForceType application/javascript
</FilesMatch>
